@charset "UTF-8";
main{
	position: absolute;
	top: 72px;
	left: 231px;
	width: 100%;
	height: 100%;
	background-color: rebeccapurple;
}
.title{
    font-weight: 700;
    font-size: 40px;
    padding: 40px;
    
}

.button-area{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-left:20px ;
}
.button-area span button{
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(233, 233, 233);
    height: 40px;
    width: 130px;
    border: none;
    border-radius: 5px;
}
.table{
	margin: 20px;
    display: flex;
    padding: 20px;
}
table{
    width: 1200px;
    padding: 0px;
    border-collapse: collapse;
    border-radius: 5px;
    border-style: hidden;
    box-shadow: 0 0 0 3px #754327;
}
thead{
    background-color: #ffddca;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
}
tr > td,th{
    width: 20%;
}
tr > td{
    text-align: right;
    padding: 5px;
    border-left: 1px solid rgb(165, 165, 165);
}

thead > tr{
    border-bottom: 3px solid #754327;
}
tbody > tr {
    border-bottom: 1px solid rgb(165, 165, 165);
}
tbody > tr > th{
    font-weight: 100;
}