.product-inquery-section{
    display: flex;
    flex-direction: column;
    padding: 72px 0px;
    letter-spacing: -0.5px;
    width: 1200px;
}
.product-inquery-header{
    padding-bottom: 40px;
    letter-spacing: -0.5px;
}
.seller-review-div-checkbox{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    
}


.product-inquery-title-box{
    display: flex;
    flex-direction: row;
  	justify-content: space-between;
    text-align: center;
    width: 1200px;
    padding: 40px 0px;
}
.product-inquery-title-box > h2{
    display: block;
 
    font-size: 24px;
    font-weight: 500;
    line-height: 21px;
    color: #333;

}

.product-inquery-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
    width: 120px;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    background-color: #189e6861;
    border: 0 none;
}

.product-inquery-annunce-ol{
    line-height: 19px;
    font-weight: 400;
    color: #999;
}
.product-inquery-annunce-ul{padding-left: 10px;}


.product-inquery-btn >span{display: inline-block;
 font-size: 14px;
 font-weight: 500}

/* 고정 */
.product-inquery-thead > tr{
    border-top: 2px solid rgb(51, 51, 51) ;
    border-bottom: 1.1px solid rgb(51, 51, 51)
    

}

.product-inquery-thead > tr th{
    vertical-align: middle;
    font-weight: 1000;
    letter-spacing: -0.5px;
    color: rgb(51, 51, 51);
}

.itemname{
 

    vertical-align: middle;
    text-align: center;

    width: 300px;

    height: 57.99px;
}


.title{
    width: 600px;
   
    height: 57.99px;
    
}
.author{
    width: 200px;
   
    height: 57.99px;
  
}
.created-date{
    width: 100px;
    
    height: 57.99px;
   
}
.status{
    width: 100px;
   
    height: 57.99px;
    
}
.product-inquery-tbody tr{
    border-bottom: 1px solid  rgb(153, 153, 153) ;
    
}

.product-inquery-tbody tr td{
    height: 64px;
    vertical-align: middle;
    font-size: 14px;

    color: #333333;

    
    
}

.product-inquery-tbody tr td:nth-child(1){
    text-align: center;
    color : rgb(153, 153, 153)
}

.product-inquery-tbody tr td:nth-child(2){
   padding: 0px 20px;
   text-align: center;
   padding: 0px 20px;
   cursor: pointer;
   
}

.product-inquery-tbody tr td:nth-child(3){
    text-align: center;
    color : rgb(153, 153, 153)
}
.product-inquery-tbody tr td:nth-child(4){
    text-align: center;
    color : rgb(153, 153, 153)
}
.product-inquery-tbody tr td:nth-child(5){
    text-align: center;
    color : #189e6861;
}

.inquery-paging-area{
    position: relative;
    width: 100%;
    height: 44px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 20px;
}

.inquery-paging-area > div button:nth-child(1){
    width: 44px;
    height: 44px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    cursor: pointer;
    background-color: transparent;
    background-image: url(/images/inqeury/paging-prev-activated.svg);
    background-repeat: no-repeat;
    background-size: cover;
}



.inquery-paging-area > div button:nth-child(2){
    width: 44px;
    height: 44px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    cursor: pointer;
    background-color: transparent;
    background-image: url(/images/inqeury/paging-next-activated.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.review-search-box{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.review-search-box form select{
    border: 1px solid rgb(51, 51, 51);
    border-radius: 20px;
    padding: 3px;
}


.review-search-box form input[type="text"]{
    border: 1px solid rgb(51, 51, 51);
    border-radius: 20px;
    width: 20rem
    
}

.review-search-box form input[type="submit"]{
    border: 1px solid rgb(51, 51, 51);
    border-radius: 20px;
    width: 50px;
    padding: 5px;
}

/* 판매자 답변 */

.user-iquery-qustion{   
    display: flex;
    padding: 22px 20px 30px;
    align-items: flex-start;
}
.user-iquery-qustion span:nth-child(2) {
    
    padding-left: 10px;
  
}

.user-iquery-qustion-answer{
    display: flex;
    padding: 22px 20px 30px;
    align-items: flex-start;
}

.user-iquery-qustion-answer span:nth-child(2){
    padding-left: 10px;
}

.user-iquery-qustion-answer-date{
    display: flex;
    padding: 22px 20px 30px;
    justify-content: space-between;
    color : rgb(153, 153, 153)

}

 .produt-inquery-answer-tr{
   display: none;
} 

.product-inquery-hover:hover{
    cursor: pointer;
}

.product-inquery-thead tr th{

    border-top: 1px solid rgb(51, 51, 51);;
}
.change-btn,.register-btn,.delete-btn{
    font-size: 12px;
    line-height: 20px;
    color: rgb(153, 153, 153);
    border :none
}


/* 답변 등록 모달창 */


.review-answer-modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position:fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.3);

}

.review-answer-dialog {
	width: 650px;
	padding: 2em;
	border-radius: 1em;
	background: white;
    display: flex;
    flex-direction: column;
}
.review-answer-dialog-div1{
    display: flex;
    justify-content: space-between;
    font-size: 14;
   
    padding: 10px;
    border-bottom: 1px solid black;
}

.review-answer-dialog-div1 > h1 {
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    flex: 0 0 auto;
    padding: 0px;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.5px;
    color: rgb(51, 51, 51);
}

.review-answer-dialog-div1 > label{
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

.review-answer-dialog-form{
    display: flex;
    flex-direction: column;
    

}

.review-answer-dialog-form textarea{
    width: 594px;
    padding: 1rem
}
.review-answer-dialog-form div {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap :10px
    
}

.review-answer-dialog-form >div button{
    width: 150px;
}

.review-answer-modal-hidden{
    display: none;
}

/* 상품문의 모달 */
.modal-review {
	display: flex;
	justify-content: center;
	align-items: center;
	position:fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.3);
 	z-index: 5;
}

.dialog-review {
    min-height: 740px;
	width: 740px;
	padding: 2em;
	border-radius: 1em;
	background: white;
    display: flex;
    flex-direction: column;

    
}
.dialog-review-header{
    font-size: 14;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.dialog-review-header >h2{
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    flex: 0 0 auto;
    padding: 0px;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.5px;
    color: rgb(51, 51, 51);
}
.dialog-review-img-box{
    display: flex;
    gap: 20px;
    align-items: center;
    border-top: 1px solid rgba(97, 92, 92, 0.614);
    padding: 16px;
    
}
.dialog-review-img-box img{
   
    border: 1px solid black;
    width: 72px;
    height: 72px;

}


.dialog-review-content-box{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: rgb(153, 153, 153);
    display: flex;
    padding: 16px;

    width: 637px;
    height: 221px;
}
.dialog-review-content-box >div{
    padding: 14px;
    width: 70px;
}

.dialog-review-content-box textarea{
    width: 640px;
    height: 170px;
    padding: 15px 16px;
    font-size: 16px;
    line-height: 21px;
    word-break: break-all;
    z-index: 1;
    background: none;
    border-radius: 4px;
    color: rgb(51, 51, 51);
    resize: none;
    border: 0.5px solid rgb(51, 51, 51);
    
}
.text-area-box span{
    text-align: center;

}

.dialog-review-content-picture-input-box{
    display: flex;
    gap :20px
}

.dialog-review-content-picture-input-btn{
    width: 72px;
    height: 72px; 
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.dialog-review-caution{
    display: flex;
    
    padding-top: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: rgb(153, 153, 153);
}
.dialog-review-caution-label{
    position: relative;
    flex-shrink: 0;
    width: 70px;
    padding-top: 12px;
    line-height: 19px;
    color: rgb(51, 51, 51);
}

.dialog-review-caution-ul{
    padding-left: 6px;
    font-weight: 400;
    font-size: 14px;
    color: rgb(153, 153, 153);
    line-height: 21px;
    list-style-type: none;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.dialog-review-caution-li{
	width: 554px;
    font-weight: 400;
    font-size: 14px;
    color: rgb(153, 153, 153);
    line-height: 21px;
}

.dialog-review-caution-secret{
    display: flex;
    gap: 20px;
    padding-top: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: rgb(153, 153, 153);
    border-bottom: 1px solid  rgb(153, 153, 153);;
    padding: 1rem;
}

.dialog-review-button-end-box{
 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    gap: 10px;
  
}

.dialog-review-button-end-box button:nth-child(1){
    -webkit-appearance: button;
    cursor: pointer;
    width: 160px;
    height: 56px;
    padding: 0px 10px;
    text-align: center;
    letter-spacing: 0px;
    border-radius: 3px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin-top: 14px;
    border: 1px solid rgb(221, 221, 221);
    background-color: white;
    color: rgb(0, 0, 0);
}


.dialog-review-button-end-box button:nth-child(2){
    -webkit-appearance: button;
    cursor: pointer;
    width: 160px;
    height: 56px;
    padding: 0px 10px;
    text-align: center;
    letter-spacing: 0px;
    border-radius: 3px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin-top: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(221, 221, 221);
    border: none;
}

 .modal-review-hidden{
    display: none;
} 

.reivew-picture-box{
    display: flex;
    flex-wrap: nowrap;
    gap: 3px;
    overflow: auto hidden;
    padding: 15px 0px 2px;
}


.review0{
   width: 93px;
   height: 93px;
   object-fit: cover
}
