.event_ul :nth-child(odd){
    margin-right: 27px;

}
.event_li {
    width: 380px;
    display: inline-block;
    position: relative;
    margin-bottom: 40px;

}
.img_event_box .img_event {
    width: 390px;
}
.p_event {
    margin: 10px 0 8px 0;
    font-size: 23px;
    font-weight: 800;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.event_ul {
    border-top: black solid 1px;
    border-bottom: black solid 1px;
}
.page_wrap_event {
    padding-top: 30px;
    border-top: 1px solid #EDEDED;
    margin-top: 30px;
}
.page_list_event {
    text-align: center;
}
.page_num_event {
    display: inline-block;
}
.page_num_event a.on, .page_num_event a:hover {
    background: #754327;
    color: #fff;
    border: 1px solid #754327;
}
.page_num_event a {
    display: inline-block;
    min-width: 32px;
    height: 32px;
    border-radius: 32px;
    text-align: center;
    font-size: 14px;
    padding-top: 4px;
    color: #999;
    border: 1px solid #fff;
}
a {
    text-decoration: none;
    outline: none;
}
.page_num_event a+a {
    margin-left: 5px;
}