.event_detail {
    margin-top: 30px;
}
.event_title {
    position: relative;
    padding-bottom: 15px;
    border-bottom: 1px solid #000;
}
.e_title {
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
}
.e_date {
    margin-top: 10px;
    font-size: 13px;
    line-height: 19px;
    color: #666;
}
.event_content {
    min-height: 330px;
    margin-top: -10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 10px;
}
.event_content p img {
    vertical-align: baseline;
    border: 0px solid rgb(0, 0, 0);
    width: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.event_btn_wrap {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.btn_to_list {
    color: #f6f6f6;
    border: 1px solid #754327;
    background: #754327;
    font-size: 17px;
    line-height: 48px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    padding: 0 12px;
    transition: all 0.3s ease;
    width: 230px;
}
.btn_to_list span {
    display: inline-block;
    line-height: 1;
}