.notification_qna {
    border-top: black solid 2.2px;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
}
.notification_qna :nth-child(1) {
    width: 20px;
}
.notification_qna :nth-child(2) {
    padding-left: 20px;
}
.qna_form {
    margin-bottom: 50px;
    padding: 35px 0 2px;
    border-bottom: 1px solid #222;
}
.qna_table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
}
tr {
    display: table-row;
    vertical-align: inherit;
}
.qna_table th { 
    padding-top: 8px;
    padding-bottom: 8px;
    width: 125px;
    padding-left: 11px;
    font-weight: normal;
    text-align: left;
    vertical-align: top;
}
.qna_table td { 
    padding: 8px;
    height: 46px;
    vertical-align: top;
    display: table-cell;
}
.qna_drop_group {
    display: block;
}
.qna_drop_wrap {
    float: left;
    width: 50%;
}
.qna_drop_wrap :nth-child(1){
    margin-left: 0;
}
select {
    font-size: 12px;
}
.qna_drop_opt {
    position: relative;
    height: 46px;

}
.qna_drop_select {
    color: inherit;
    text-decoration: none;
    display: block;
    overflow: hidden;
    position: relative;
    height: 44px;
    padding: 0 60px 0 25px;
    border: 1px solid #e0e0e0;
    background: #fff;
    color: #222;
    line-height: 44px;
    cursor: pointer;
}
.qna_txt{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 10px;
    color: #333;
}
.sel_arrow{
    position: absolute;
    display: inline-block;
    width: 20px;
    top: -10px;
    right: 22px;
}

.qna_drop_opt.on .qna_drop_scroll {
    display: block;
    z-index: 1;
}
.qna_drop_scroll {
    display: none;
    overflow-y: auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    max-height: 180px;
    margin-top: -1px;
    border: 1px solid #e1e1e1;
    background: #fff;
    text-decoration: none;
    color: #333;
    padding-left: 30px;

}
#qna_dropdown {
    display: none;
}
/* option {
    font-weight: normal;
    display: block;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    white-space: nowrap;
} */
.qna_btn_wrap {
    display: flex;
}
.ccs_btn_line {
    display: block;
    position: relative;
    height: 46px;
    padding: 0 60px 0 25px;
    border: 1px solid #e0e0e0;
    background: #fff;
    line-height: 46px;
    box-sizing: border-box;
}
.qna_btn_wrap .ccs_btn_line {
    float: left;
    width: 50%;
}
.btnOrdItemList {
    background-color: transparent;
}
.inp_txt_wrap {
    display: inline-block;
    width: 100%;
    border: 1px solid #e0e0e0;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.inp_txt_wrap input[type=text] {
    width: 100%;
    height: 44px;
    padding: 0 24px;
    border: 0;
    line-height: 44px;
    box-sizing: border-box;
}
.buyselect {
    position: relative;
    border: 1px solid #e0e0e0;
}
.buyselect textarea {
    overflow: auto;
    width: 100%;
    height: 350px;
    padding: 20px 20px 30px;
    border: none;
    line-height: 18px;
    resize: none;
    box-sizing: border-box;
    cursor: auto;
}
.qna_attach_lst {
    overflow: hidden;
    display: block;
    margin: -15px 0 0 -15px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.qna_attach_lst li {
    float: left;
    margin: 25px 0 0 15px;
}
.qna_btn_upload {
    display: inline-block;
    position: relative;
    width: 70px;
    height: 70px;
    background: #ccc;
}
.qna_atch_icon {
    display: block;
    position: relative;
    width: 66px;
    height: 66px;
    margin: 2px;
    background: #ccc url('/nongra/resources/img/common/icon/btn_Img_upload.png') no-repeat 50%;
}
.qna_atchBox button {
    overflow: visible;
    border: 0 none;
    border-radius: 0;
    cursor: pointer;
}
.qna_atch_txt {
    margin: 10px 0;
    font-size: 12px;
    color: #969696;
}
.qna_submit_btn_area {
    text-align: center;
}
.qna_submit_btn_area ul {
    display: inline-block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.qna_submit_btn_area li {
    float: left;
    margin: 0 5px;
}
.qna_submit_btn_area button {
    height: 46px;
    width: 220px;
    padding: 0;
    font-size: 16px;
    line-height: 48px;
    border: #d9d9d9 solid 2px;
}
#cancelBtn {
    background: #ffffff;

}
.qna_sbmt {
    background-color: #754327;
    color: #fff;
    border: #754327 solid 1px;
}
.hidden_btn{
    display: none;
}
