@charset "UTF-8";
#cover{
    width: 1050px;
    height: 200px;
    margin: auto;
}
main{
	margin-top: 20px;
}
button{
    border-color: white;
    border: none;
}

/* 주문서 txt  */
.order-head{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 900;
}
.head-text{
    font-size: 20px;
    font-weight: 900;
    
}

/* 주문상품 */
.order{
    margin-top: 15px;
    height: 23px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(202, 202, 202);
}
.simpleDetailBtn{
    background-color: white;
}
.click{
    transform: rotateX(180deg);
}
.simpleDetailChange{
    display: none;
}


.simpleDetailBtn > img{
    height: 25px;
    width: 25px;
    object-fit: scale-down;
    background-color: white;
    border-bottom: none;
}
.simpleVer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.detailVer{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 2fr;
    height: 150px;
    border-bottom: 1px solid lightgray;
}


.product-image-area{
    display: flex;
    place-content: center center;
    padding-left: 10px;
}
.product-image-area > img{
    height: 150px;
    width: 100px;
    object-fit: contain;
}
.product-name-area{
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.product-cnt-area{
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-price{
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-one-price{
    font-size: 0px;
}





.orderer-area{
    margin-top: 70px;
}
td:nth-child(1){
    width: 200px;
}
.description{
    font-size: 13px;
    color: rgb(168, 168, 168);
}
td{
    font-size: 16px;
    font-weight: 500;
}
.text{
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}
.orderer-table{
    margin-top: 10px;
    margin-bottom: 100px;
}
.delivery-add{
    border-bottom: 1px solid lightgrey;
    margin-top: 10px;
    padding-bottom: 10px;
}
#address{
    border-radius: 5px;
    background-color: #75442748;
    padding: 3px;
    color: white;
    font-size: 15px;
    margin-right: 10px;
    font-weight: 700;
}
.delivery-req{
    margin-top: 10px;
}

/*배송정보 버튼*/
#addressNo{
    display: none;
}
.delivery-btn{
    width: 70px;
    height: 30px;
    background-color: white;
    font-weight: 600;
    border: 1px solid #754327;
    border-radius: 3px;
    margin-top: 10px;
}
.delivery-btn:hover{
    background-color: #75442710;
}
#addressNo{
    font-size: 0px;
}

.pay-title{
	margin-top: 70px;
}


#price{
    display: none;
}


/*충전하기 버튼*/
.charge-btn{
    width: 70px;
    height: 30px;
    background-color: white;
    font-weight: 600;
    border: 1px solid #754327;
    border-radius: 3px;
    margin-left: 20px;
}
.charge-btn:hover{
    background-color: #75442710;
    color: #754327;
}

.pay-btn-area{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pay-btn{
    width: 200px;
    height: 50px;
    font-size: 18px;
    font-weight: 900;
    color: white;
    background-color: #754327;
    border-radius: 3px;
}
.pay-amount{
    margin-top: 10px;
}
.pay-table td{
    font-size: 18px;
    font-weight: 500;
}
.inquiry{
    font-size: 13px;
    color: lightgrey;
}
.personal-data-area{
    margin-top: 70px;
}
.personal-data-agr{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.personal-data-total-agr{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
}
.close{
	font-size: 0px;
	width: 0px;
	height: 0px;
	margin: 0px;
	padding: 0px;
}




/*모달창*/
#modal.modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
	display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
#modal .modal-window {
    background: rgb(255, 255, 255);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 400px;
    height: 300px;
    position: relative;
    top: -100px;
    padding: 10px;
}
#modal .title {
    padding-left: 10px;
    display: inline;
    color: rgb(0, 0, 0);  
    width: 80%;
}
#modal h3{
	display: inline;
	width: 100%;
}
#modal .title h2 {
    display: inline;
}
#modal .close-area {
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: lightslategray;
}
#modal .content {
    margin-top: 20px;
    padding: 0px 10px;
    color: rgb(0, 0, 0);
}

.modal-table{
	border-collapse: collapse; 
	border-spacing: 0;
	border: 1px solid black;
}
.modal-table thead{
	background-color: lightgrey;
}
.modal-table td, th{
	border: 1px solid lightslategray;
	width: 33%;
	padding: 10px;
}
.modal-table td{
	font-size: 13px;
}
.content > p{
	font-size: 13px;
	color: lightslategray;
	padding: 5px;
}
#btn-modal{
	cursor: pointer;
}
#btn-modal2{
	cursor: pointer;
}


#modal2.modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
	display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
#modal2 .modal-window {
    background: rgb(255, 255, 255);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 450px;
    height: 300px;
    position: relative;
    top: -100px;
    padding: 10px;
    overflow-y: auto;
}
#modal2 .title {
    padding-left: 10px;
    display: inline;
    color: rgb(0, 0, 0);  
    width: 80%;
}
#modal2 h3{
	display: inline;
	width: 100%;
}
#modal2 .title h2 {
    display: inline;
}
#modal2 .close-area2 {
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: lightslategray;
}
#modal2 .content {
    margin-top: 20px;
    padding: 0px 10px;
    color: rgb(0, 0, 0);
}