#wrap{
    width: 1050px;
    height: 200px;
    margin: auto;
}
main{
    font-size: 15px;
    margin: 0;
    padding: 0;
}
button{
    background-color: white;
    border: none;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
#selectAll-area{
    border-bottom: 1px solid rgb(121, 121, 121);
    height: 23px;
}
.seller-area{
    margin-top: 15px;
    height: 23px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.seller-area > span{
    margin-left: 5px;
}
.seller-area > button{
    float: right;
    margin-right: 5px;
}
.product-area{
    height: 150px;
    display: grid;
    grid-template-columns: 1fr 3fr 14fr 5fr 5fr 1fr;
    border-bottom: 1px solid rgb(184, 184, 184);
}
.product-image-area{
    display: flex;
    place-content: center center;
}
.product-area > div > img{
    height: 150px;
    width: 100px;
    object-fit: contain;
}
.product-name-area{
    display: flex;
    align-items: center;
    margin-left: 5px;
}
a{
    color: black;
    text-decoration: none;
}
.product-cnt-area{
    display: flex;
    border-radius: 3px;
    place-self: center center;
    border: 1px solid rgb(160, 160, 160);
}
.product-cnt{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-cnt-area > button{
    width: 15px;
    font-size: 20px;
}
.product-price{
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail{
    font-size: 14px;
}
.cancel-btn{
    color: rgb(175, 175, 175);
}
input[type=checkbox]{
    width: 20px;

}
.order-area{
    margin-top: 30px;
    float: right;
}
.order-btn{
    width: 200px;
    height: 50px;
    background-color: #754327;
    color: white;
    font-weight: 900;
    border-radius: 3px;
}